<div class="bd-example is-paddingless">
    <nav class="navbar is-link">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        
         <strong>Koncrate</strong>
      </a>
      <div class="navbar-burger burger" data-target="navMenuColorlink-example">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
    <div id="navMenuColorlink-example" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item mr-3" routerLink="/">
            Accueil
        </a>
        <a class="navbar-item mr-3" routerLink="/sevices">
            Services
        </a>
        <a class="navbar-item mr-3" routerLink="/blog">
            Blog
        </a>
        <a class="navbar-item " routerLink="/about">
            About
        </a>
        <a class="navbar-item " routerLink="/contact">
            Contact
        </a>
        
      </div>
  
     
    </div>
  </nav>
  
  </div>